@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;400;1,700&display=swap');

:root{
  --primary: #bc4123;
  --secondary: #2b3452;
  --muted: #dd9c12;

}

body {
  min-height: 95vh;
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--secondary);
}


*{
  color: #fff;
  margin: 0;
}

p{
  margin: 20px 0;
}

button{
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  background: var(--primary);
  cursor: pointer;
}

/* Navbar */
header nav{
  display: flex;
  gap: 16px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

header nav h1{
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}

header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

header nav a.active{
  background:var(--primary)
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */